### Q1. What is a database? Differentiate between SQL and NoSQL databases.

        Database: A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, modification, and querying
        
        SQL (Relational) Databases:

            1.SQL (Structured Query Language) databases are based on the relational model and use structured tables to store and organize data.
            2.They have a predefined schema that defines the structure and relationships between tables.
            3.Data is stored in rows and columns, and tables are related through primary and foreign key constraints.
            4.SQL databases provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and reliability.
            Examples of SQL databases include MySQL, PostgreSQL, Oracle Database, and SQL Server.
        
        NoSQL (Non-Relational) Databases:

			1.NoSQL databases are designed for storing and retrieving large volumes of unstructured and semi-structured data.
            2.They do not adhere to a rigid schema and allow for flexible and dynamic data models.
            3.NoSQL databases use various data models like key-value, document, columnar, and graph to organize and store data.
            4.They offer horizontal scalability, high availability, and high performance for handling big data and distributed systems.
            5.NoSQL databases sacrifice some of the traditional ACID properties in favor of scalability and flexibility.
            Examples of NoSQL databases include MongoDB, Cassandra, Redis, Couchbase, and Neo4j.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

	DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database and its objects. It consists of a set of commands used to create, modify, and delete database objects. 
    
	1.CREATE: The CREATE command is used to create a new database object, such as a table, index, or view. 
			Example: CREATE TABLE employees (
                            id INT,
                            name VARCHAR(50),
                            age INT
                        );
                        
    2.DROP: The DROP command is used to remove an existing database object. It permanently deletes the object from the  database. 
    		Example:  DROP TABLE employees;
            
	3.ALTER: The ALTER command is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of the object. 
    		Example: ALTER TABLE employees ADD COLUMN salary DECIMAL(10,2);

	4.TRUNCATE: The TRUNCATE command is used to remove all data from a table, but keeps the table structure intact. It is faster than using the DELETE command to delete all rows. 
    		Rxample:TRUNCATE TABLE employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

    DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. It consists of commands that allow you to insert, update, and delete data within tables
    
    1.INSERT: The INSERT command is used to insert new rows of data into a table. You specify the table name and provide the values for each column in the row being inserted. 
    	Example: INSERT INTO employees (id, name, age) VALUES (1, 'John', 30);
        
    2.UPDATE: The UPDATE command is used to modify existing data within a table. You specify the table name, set the new values for specific columns, and use a WHERE clause to identify the rows to be updated. 
    	Example: UPDATE employees SET age = 35 WHERE id = 1;

	3.DELETE: The DELETE command is used to remove rows of data from a table. You specify the table name and use a WHERE clause to identify the rows to be deleted. 
    	Example: DELETE FROM employees WHERE id = 1;

### Q4. What is DQL? Explain SELECT with an example.

	DQL (Data Query Language) is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. It primarily consists of the SELECT command, which allows you to retrieve specific data from one or more database tables.
    
    SELECT: The SELECT command is used to retrieve data from one or more tables in a database. 
    	Example: SELECT name, salary FROM employees WHERE age > 30;

### Q5. Explain Primary Key and Foreign Key.

	Primary Key: Unique identifier for each row in a table.
	Foreign Key: Establishes relationships between tables based on primary key references.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

#
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = connection.cursor()

# Executing SQL queries using the execute() method
cursor.execute("SELECT * FROM your_table")

# Fetching the results
results = cursor.fetchall()

# Printing the results
for row in results:
    print(row)

# Closing the cursor and the connection
cursor.close()
connection.close()